@charset "UTF-8";
@media only screen and (max-width: 580px){
    
    header,header>nav{
        flex-flow: column nowrap;
    }
    header>h1{
        flex-basis: 50px;
    }
    header>nav>a{
        width: 90vw;
    }
}