@charset "UTF-8";
 /* Regras de mídia para ajustar o tamanho do plano de fundo em dispositivos de tela pequena

@media screen and (max-width: 768px) {
    body {
        background-size: auto; - Altera o tamanho da imagem para auto para evitar corte em telas pequenas
        background-attachment: scroll; - Permite que o plano de fundo role junto com o conteúdo
    }
}
*/
body{
    height: 100vh;
    margin: auto;
    /*
    Ordem dos valores do shorthand "background"
    
    background: color image position repeat size attachment;

    background-repeat: no-repeat; - Evita que a imagem se repita
    background-size: cover; - Mantém a proporção da imagem e a exibe inteira
    background-position: center center; - Centraliza a imagem
    background-attachment: fixed; - Fixa a imagem no lugar enquanto o conteúdo faz scroll
    */
}
#container{
    position: relative;
    height: 96vh;
    padding: 10px;
    background-color: transparent;
    background-image: url('./imagens/espaco.jpg');
    background-size: 100% 100%;
}
#conteudo{
    height: 508px;
    width: 500px;
    background-color: transparent;
    background-image: url('./imagens/astronauta.png');
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}